a:hover{
	color: #98c86e;
}



/**** HEADER ****/
#nav li:hover{
	background-position: bottom center;
}
#nav li:hover a{
	color: #98c86e;
}

/**** FOOTER ****/
#footer-nav li:hover{
	background-position: bottom center;
}

.LinkedIn:hover a{  background-position: 0px -47px; }

@-webkit-keyframes textAnim {
 from {
    margin-right: 100%;
    width: 0%;
  }
   
   to {
     margin-right: 0%;
     width: 100%;
   }
}

progress {
  -webkit-animation: textAnim 1s ;
  animation: textAnim 1s ;
}

