@-webkit-keyframes textAnim {
 from {
    margin-right: 100%;
    width: 0%;
  }
   
   to {
     margin-right: 0%;
     width: 100%;
   }
}

progress {
  -webkit-animation: textAnim 1s ;
  animation: textAnim 1s ;
}