@-webkit-keyframes textAnim {
 from {
    margin-right: 100%;
    width: 0%;
  }
   
   to {
     margin-right: 0%;
     width: 100%;
   }
}

progress {
  -webkit-animation: textAnim 1s ;
  animation: textAnim 1s ;
}

dl, dt, dd{margin:0;padding:0;}

dd{
	width:216px;
	height:41px;
	background:url(../images/bg_bar.gif) no-repeat 0 0;
	position:relative;
}
dd span{
	position:absolute;
	display:block;
	width:200px;
	height:25px;
	background:url(../images/bar.gif) no-repeat 0 0;
	top:8px;
	left:8px;
	overflow:hidden;
	text-indent:-8000px;
}
dd em{
	position:absolute;
	display:block;
	width:200px;
	height:25px;
	background:url(../images/bg_cover.gif) repeat-x;
	top:0;
}